{% extends "base.html" %}

{% load static%}
{% block menu %}
<nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="/">Головна</a>
        <a class="nav-link fw-bold py-1 px-0 active" href="/blog/">Блог</a>
        <a class="nav-link fw-bold py-1 px-0" href="/events/">Анонси</a>
        <a class="nav-link fw-bold py-1 px-0" href="/aboutus/">Про нас</a>
      </nav>
{% endblock %}

{% block content %}
<h1> {{ post.title }} </h1>
<div class="container">
    <div class="row">
        <div class="col"><img src={{ post.pic.url }}></div>
        <div class="col"><p>{{ post.post_body }}</p></div>
    </div>
    <div class="row" style="width:100%">
        <div class="col">some stuff</div>
    </div>
</div>
		
{% endblock %}
